* {
  transition: all 0.3s ease-in-out;
}

html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* 禁止选中文本 */
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: rgba(255, 255, 255, 0.131);
  font-family: 'KaiTi', '楷体', 'STKaiti', 'SimSun', '黑体', 'Heiti SC', 'Arial', sans-serif;
  color: #3e3e3e; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #222; 
  font-family: 'KaiTi', '楷体';
}